azure-storage-blob
azure-mgmt-cognitiveservices
boto3==1.39.2
gradio==5.35.0
langchain==0.3.26
langchain_anthropic==0.3.16
langchain_aws==0.2.27
langchain_azure_ai==0.1.4
langchain_core==0.3.67
langchain-fireworks==0.3.0
langchain_google_genai==2.1.6
langchain_google_vertexai==2.0.27
langchain_groq==0.3.5
langchain_huggingface==0.3.0
langchain_mistralai==0.2.10
langchain_ollama==0.3.3
langchain_openai==0.3.27
python-dotenv==1.1.1
Requests==2.32.4
transformers==4.53.0
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
bitsandbytes==0.46.1
accelerate==1.8.1
pynacl==1.5.0